h1
{
    margin: 0;
    padding: 0.5em;
    display: inline-block;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#content-right
{
    position: fixed;
    left: 300px;
    right: 0em;
    overflow: auto;
    height: 100vh;
    border-left: 1px solid #E7E7E7;
    display: grid;
    grid-template-rows: 70px 1fr 60px;
    grid-template-columns: 100%;
    grid-template-areas:
        "right-header"
        "list"
        "audio-player"
}

#content-right-header
{
    grid-area: right-header;
    background: #FFF;
    padding: 0;
    margin: 0;
}

#content-right-header h1
{
    padding-left: 0;
    margin-left: 1em;
}

#content-right-body
{
    grid-area: list;
    background: #FFF;
    /*height: calc(100% - 4.5em);*/
    overflow: auto;
}

#content-right-footer
{
    grid-area: audio-player;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Podcast entry list */
/* ------------------------------------------------------------------------------------------------------------------ */

#list
{
    margin: 0;
    padding: 0;
}

.podcast-entry
{
    background-color: inherit;
    border-bottom: 1px solid #DDD;
    display: grid;
    grid-template-rows: 1fr none;
    grid-template-columns: 1fr 4em;
    grid-template-areas:
        "header actions"
        "body body";
}

.podcast-entry-header
{
    grid-area: header;
    display: grid;
    grid-template-columns: 115px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "image title"
        "image subtitle";
}

.podcast-episode-header
{
    grid-area: header;
    background-color: inherit;
    padding: 0.5em;
    padding-left: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title"
        "subtitle";
}

.podcast-entry-actions
{
    grid-area: actions;
    align-self: center;
}

.podcast-entry-body
{
    grid-area: body;
}

.podcast-entry:hover, .podcast-episode-entry:hover, .podcast-favorites-entry:hover
{
    background-color: #F2F2F2;
}

.podcast-entry svg, .podcast-episode-entry svg, .podcast-favorites-entry svg
{
    grid-area: icons;
    align-self: center;
    margin-left: 0.5em;
    opacity: 0.6;
}

.podcast-entry svg:hover, .podcast-episode-entry svg:hover, .podcast-favorites-entry svg:hover, .set-favorite
{
    fill: #E91E63;
    opacity: 0.7;
}

.podcast-entry img, .podcast-favorites-entry img
{
    grid-area: image;
    border-radius: 4px;
    margin: 0.5em;
    margin-left: 2em;
    width: 60px;
    height: 60px;
}

.podcast-entry-title
{
    grid-area: title;
    /*align-self: flex-end;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    font-size: 16px;
}

.podcast-entry-subtitle
{
    grid-area: subtitle;
    align-self: flex-start;
    font-size: 14px;
    color: #777;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.done::after
{
    content: "Done";
    font-size: 11px;
    /*background: #039BE5;*/
    background: #4CAF50;
    color: #FFF;
    padding: 0.3em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    vertical-align: middle;
    border-radius: 3px;
    margin-left: 1em;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Select the currently playing episode */
/* ------------------------------------------------------------------------------------------------------------------ */

.select-episode
{
    background: #039BE5;
}

.select-episode:hover
{
    background: #0288D1;
}

.select-episode div
{
    color: #FFF;
}

.select-episode svg
{
    fill: #FFF;
    opacity: 0.8;
}

.select-episode svg:hover
{
    fill: #FFF;
    opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.delete-icon
{
    /*fill: #F44336;*/
    /*opacity: 0.3;*/
}

/* ------------------------------------------------------------------------------------------------------------------ */

.settings
{
    border-bottom: 1px solid #E0E0E0;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    display: grid;
    grid-template-columns: 60px 1fr 1fr 35px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "image name items button";
}

.settings-image
{
    width: 60px;
    height: 60px;
    border-radius: 6px;
}

.settings-header
{
    grid-area: name;
    padding: 0.5em;
    margin-left: 1em;
    font-weight: bold;
    font-size: 22px;
    align-self: center;
}

.settings-count::before
{
    content: "All: ";
    font-weight: bold;
    font-size: 18px;
}

.settings-count
{
    grid-area: items;
    padding: 0.5em;
    align-self: center;
}

.settings-unsubscribe
{
    grid-area: button;
    background: #333;
    border-radius: 6px;
    text-align: center;
    padding-top: 0.2em;
    /*margin-right: 1em;*/
    opacity: 0.8;
    align-self: center;
}

.settings-unsubscribe svg
{
    fill: #FFF;
}

.settings-unsubscribe:hover
{
    opacity: 1;
}
