h1
{
    margin: 0;
    padding: 0.5em;
    display: inline-block;
    width: calc(100% - 2em);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#content-right
{
    position: fixed;
    left: 300px;
    right: 0em;
    overflow: auto;
    height: 100vh;
    border-left: 1px solid #E7E7E7;
    display: grid;
    grid-template-rows: 70px 1fr 60px;
    grid-template-columns: 100%;
    grid-template-areas:
        "right-header"
        "list"
        "audio-player"
}

#content-right-header
{
    grid-area: right-header;
    background: #FFF;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 85px;
}

#content-right-header h1
{
    padding-left: 0;
    margin-left: 1em;
}

#content-right-header-actions
{
    opacity: 0.6;
    align-self: center;
}

#content-right-header-actions svg
{
    border: 1px solid #EEE;
    border-radius: 4px;
    padding: 0.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    height: 30px;
    width: 30px;
}

#content-right-header-actions svg:hover
{
    border-color: #CCC;
}

#content-right-header-actions svg:active
{
    background-color: #EEE;
}

#content-right-body
{
    grid-area: list;
    background: #FFF;
    /*height: calc(100% - 4.5em);*/
    overflow: auto;
}

#content-right-footer
{
    grid-area: audio-player;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Podcast entry list */
/* ------------------------------------------------------------------------------------------------------------------ */

#list
{
    margin: 0;
    padding: 0;
}

.statistics-header
{
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 2em;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 22px;
    font-weight: bold;
    background-color: #F2F2F2;
}

.statistics-entry
{
    background-color: inherit;
    /* border-bottom: 1px solid #DDD; */
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "stats-title stats-value";
}

.statistics-entry-title
{
    grid-area: stats-title;
}

.statistics-entry-value
{
    grid-area: stats-value;
}

.podcast-entry
{
    background-color: inherit;
    border-bottom: 1px solid #DDD;
    display: grid;
    grid-template-rows: 1fr none;
    grid-template-columns: 1fr 4em;
    grid-template-areas:
        "header actions"
        "body body";
}

.podcast-entry-header
{
    grid-area: header;
    display: grid;
    grid-template-columns: 115px 1fr 70px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "image title tail"
        "image subtitle tail";
}

.podcast-episode-header
{
    grid-area: header;
    background-color: inherit;
    padding: 0.5em;
    padding-left: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title"
        "subtitle";
}

.podcast-entry-actions
{
    grid-area: actions;
    align-self: center;
}

.podcast-entry-body
{
    grid-area: body;
}

.podcast-entry:hover, .podcast-episode-entry:hover, .podcast-favorites-entry:hover
{
    background-color: #F2F2F2;
}

.podcast-entry svg, .podcast-episode-entry svg, .podcast-favorites-entry svg
{
    grid-area: icons;
    align-self: center;
    margin-left: 0.5em;
    opacity: 0.6;
}

.podcast-entry svg:hover, .podcast-episode-entry svg:hover, .podcast-favorites-entry svg:hover, .set-favorite
{
    fill: #E91E63;
    opacity: 0.7;
}

.podcast-entry img, .podcast-favorites-entry img
{
    grid-area: image;
    border-radius: 4px;
    margin: 0.5em;
    margin-left: 2em;
    width: 60px;
    height: 60px;
}

.podcast-entry-title
{
    grid-area: title;
    /*align-self: flex-end;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    font-size: 16px;
}

.podcast-entry-subtitle
{
    grid-area: subtitle;
    align-self: flex-start;
    font-size: 14px;
    color: #777;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.podcast-entry-tail
{
    grid-area: tail;
    opacity: 0.4;
    font-size: 12px;
    align-self: center;
    justify-self: center;
}

.done::after
{
    content: "Done";
    font-size: 11px;
    /*background: #039BE5;*/
    background: #4CAF50;
    color: #FFF;
    padding: 0.3em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    vertical-align: middle;
    border-radius: 3px;
    margin-left: 1em;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Grid layout for list */
/* ------------------------------------------------------------------------------------------------------------------ */

.grid-layout
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (min-width: 1200px)
{
    .grid-layout
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px)
{
    .grid-layout
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1600px)
{
    .grid-layout
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1800px)
{
    .grid-layout
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 2000px)
{
    .grid-layout
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.grid-layout .podcast-entry
{
    display: grid;
    grid-template-columns: 1fr 0px;
    border-bottom: none;
}

.grid-layout .podcast-entry .podcast-entry-header
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "pimage"
        "ptitle";
}

.grid-layout .podcast-entry .podcast-entry-header img
{
    grid-area: pimage;
    width: 90px;
    height: 90px;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.grid-layout .podcast-entry .podcast-entry-title
{
    grid-area: ptitle;
    text-align: center;
    font-size: 14px;
    color: #777;
}

.grid-layout .podcast-entry .podcast-entry-actions
{
    display: none;
}

.grid-layout .podcast-entry:hover
{
    background-color: inherit;
}

.grid-layout .podcast-entry .podcast-entry-header img:hover
{
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
}

.grid-layout .podcast-entry .podcast-entry-header img:active
{
    box-shadow: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Select the currently playing episode */
/* ------------------------------------------------------------------------------------------------------------------ */

.select-episode
{
    /* background: #039BE5; */
    background: #448AFF;
}

.select-episode:hover
{
    /* background: #0288D1; */
    background: #2979FF;
}

.select-episode div
{
    color: #FFF;
}

.select-episode svg
{
    fill: #FFF;
    opacity: 0.8;
}

.select-episode svg:hover
{
    fill: #FFF;
    opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.delete-icon
{
    /*fill: #F44336;*/
    /*opacity: 0.3;*/
}

/* ------------------------------------------------------------------------------------------------------------------ */

.settings
{
    border-bottom: 1px solid #E0E0E0;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    display: grid;
    grid-template-columns: 60px 1fr 1fr 35px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "image name items button";
}

.settings-image
{
    width: 60px;
    height: 60px;
    border-radius: 6px;
}

.settings-header
{
    grid-area: name;
    padding: 0.5em;
    margin-left: 1em;
    font-weight: bold;
    font-size: 22px;
    align-self: center;
}

.settings-count::before
{
    content: "All: ";
    font-weight: bold;
    font-size: 18px;
}

.settings-count
{
    grid-area: items;
    padding: 0.5em;
    align-self: center;
}

.settings-unsubscribe
{
    grid-area: button;
    background: #333;
    border-radius: 6px;
    text-align: center;
    padding-top: 0.2em;
    /*margin-right: 1em;*/
    opacity: 0.8;
    align-self: center;
}

.settings-unsubscribe svg
{
    fill: #FFF;
}

.settings-unsubscribe:hover
{
    opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Playlist Edit */
/* ------------------------------------------------------------------------------------------------------------------ */

.edit-header
{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 100px;
}

.edit-header button
{
    height: 45px;
    color: #FFF;
    border-radius: 4px;
    border: 1px solid #333;
    background: #333;
    align-self: center;
    margin-right: 2em;
    outline: none;
    font-size: 14px;
}

.edit-header button:hover
{
    color: #FFF;
    background: #E53935;
    border-color: #E53935;
}

.podcast-edit-entry
{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20px 20px 1fr;
    padding: 2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.podcast-edit-entry:hover
{
    background: #F2F2F2;
}

.podcast-edit-entry span
{
    align-self: center;
}

.podcast-edit-entry svg
{
    align-self: center;
    justify-self: center;
}

.uncheck svg
{
    fill: #DDD;
}

.check svg
{
    fill: #448AFF;
}

/* .podcast-edit-entry img
{
    border-radius: 4px;
    align-self: center;
    justify-self: center;
    width: 20px;
    height: 20px;
} */

.playlist-edit-input
{
    width: calc(100% - 6em);
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
    outline: none;
    border-radius: 4px;
    border: 1px solid #DDD;
    font-size: 16px;
    padding: 0.8em;
}
