h1
{
    margin: 0;
    padding: 0.5em;
    display: inline-block;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#content-right
{
    position: fixed;
    left: 300px;
    right: 1.5em;
    overflow: auto;
    height: 100%;
}

#content-right-body
{
    background-color: #FFF;
    right: 1em;
    border: 1px solid #EEE;
    border-radius: 4px;
    height: calc(100% - 4.5em);
    overflow: auto;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Player */
/* ------------------------------------------------------------------------------------------------------------------ */

#content-right-player
{
    border-radius: 4px;
    background-color: #FFF;
    border: 1px solid #EEE;
    text-align: center;
    float: right;
    margin-top: 0.5em;
    display: grid;
    grid-template-rows: 1fr 0.2em;
    grid-template-columns: 20% 20% 20% 20% 20% 0 0;
    grid-template-areas:
        "image replay play forward speed time duration"
        "progress progress progress progress progress progress progress";
}



#replay-30-sec
{
    grid-area: replay;
}

#play-pause
{
    grid-area: play;
}

#forward-30-sec
{
    grid-area: forward;
}

#content-right-player svg
{
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.7;
    margin: 0.5em;
}

#content-right-player svg:hover
{
    opacity: 1;
}

#content-right-player-img
{
    grid-area: image;
    width: 30px;
    height: 30px;
    margin: 0.5em;
    border-radius: 4px;
}

#content-right-player-speed
{
    grid-area: speed;
    outline: 0;
    border: 1px solid #EEE;
    border-radius: 4px;
    margin: 0.5em;
    background-color: inherit;
}

#content-right-player-time, #content-right-player-duration
{
    display: none;
}

@media screen and (min-width: 1100px)
{
    #content-right-player
    {
        border-radius: 4px;
        background-color: #FFF;
        border: 1px solid #EEE;
        text-align: center;
        float: right;
        margin-top: 0.5em;
        display: grid;
        grid-template-rows: 1fr 0.2em;
        grid-template-columns: 1fr 80px 1fr 1fr 1fr 80px 1fr;
        grid-template-areas:
            "image time replay play forward duration speed"
            "progress progress progress progress progress progress progress";
    }

    #content-right-player-time, #content-right-player-duration
    {
        align-self: center;
        opacity: 0.5;
        font-size: 14px;
        margin-left: 0.1em;
        display: block;
    }

    #content-right-player-time
    {
        grid-area: time;
    }

    #content-right-player-duration
    {
        grid-area: duration;
    }
}

#content-right-player-speed:hover
{
    background-color: #EEE;
    cursor: pointer;
}


#content-right-player-progress-bar
{
    grid-area: progress;
    background-color: #E5E5E5;
    border-radius: 4px;
}

#content-right-player-progress-bar-progress
{
    background-color: #039BE5;
    height: 3px;
    width: 0%;
    border-radius: 4px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Podcast entry list */
/* ------------------------------------------------------------------------------------------------------------------ */

#list
{
    margin: 0;
    padding: 0;
}



/*.podcast-favorites-entry
{
    background-color: inherit;
    border-bottom: 1px solid #DDD;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 75px 1fr 3em;
    grid-template-areas:
        "image title icons";
}*/

/*.podcast-episode-entry
{
    background-color: inherit;
    border-bottom: 1px solid #DDD;
    padding: 0.5em;
    padding-left: 1em;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3em;
    grid-template-areas:
        "header actions";
}*/

.podcast-entry
{
    background-color: inherit;
    border-bottom: 1px solid #DDD;
    display: grid;
    grid-template-rows: 1fr none;
    grid-template-columns: 1fr 3em;
    grid-template-areas:
        "header actions"
        "body body";
}

.podcast-entry-header
{
    grid-area: header;
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "image title"
        "image subtitle";
}

.podcast-episode-header
{
    grid-area: header;
    background-color: inherit;
    padding: 0.5em;
    padding-left: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title"
        "subtitle";
}

.podcast-entry-actions
{
    grid-area: actions;
    align-self: center;
}

.podcast-entry-body
{
    grid-area: body;
}

.podcast-entry:hover, .podcast-episode-entry:hover, .podcast-favorites-entry:hover
{
    background-color: #E0E0E0;
    cursor: pointer;
}

.podcast-entry svg, .podcast-episode-entry svg, .podcast-favorites-entry svg
{
    grid-area: icons;
    align-self: center;
    margin-left: 0.5em;
    opacity: 0.6;
}

.podcast-entry svg:hover, .podcast-episode-entry svg:hover, .podcast-favorites-entry svg:hover, .set-favorite
{
    fill: #E91E63;
    opacity: 0.7;
}

.podcast-entry img, .podcast-favorites-entry img
{
    grid-area: image;
    border-radius: 4px;
    margin: 0.5em;
    width: 60px;
    height: 60px;
}

.podcast-entry-title
{
    grid-area: title;
    /*align-self: flex-end;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 0.5em;
    font-weight: bold;
    font-size: 16px;
}

.podcast-entry-subtitle
{
    grid-area: subtitle;
    align-self: flex-start;
    font-size: 14px;
    color: #777;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Select the currently playing episode */
/* ------------------------------------------------------------------------------------------------------------------ */

.select-episode
{
    background: #039BE5;
}

.select-episode:hover
{
    background: #0288D1;
}

.select-episode div
{
    color: #FFF;
}

.select-episode svg
{
    fill: #FFF;
    opacity: 0.8;
}

.select-episode svg:hover
{
    fill: #FFF;
    opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.delete-icon
{
    /*fill: #F44336;*/
    /*opacity: 0.3;*/
}

/* ------------------------------------------------------------------------------------------------------------------ */

.settings
{
    border-bottom: 1px solid #E0E0E0;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 60px 1fr 1fr 50px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "image name items button";
}

.settings-image
{
    width: 60px;
    height: 60px;
    border-radius: 6px;
}

.settings-header
{
    grid-area: name;
    padding: 0.5em;
    margin-left: 1em;
    font-weight: bold;
    font-size: 22px;
    align-self: center;
}

.settings-count::before
{
    content: "All: ";
    font-weight: bold;
    font-size: 18px;
}

.settings-count
{
    grid-area: items;
    padding: 0.5em;
    align-self: center;
}

.settings-unsubscribe
{
    grid-area: button;
    background: #333;
    border-radius: 6px;
    text-align: center;
    padding-top: 0.2em;
    margin-right: 1em;
    opacity: 0.8;
    align-self: center;
}

.settings-unsubscribe svg
{
    fill: #FFF;
}

.settings-unsubscribe:hover
{
    opacity: 1;
    cursor: pointer;
}
