
#content-left
{
    height: 100%;
    width: 300px;
    display: grid;
    position: fixed;
    overflow: auto;
    grid-template-rows: 70px 1fr 3fr 60px;
    grid-template-columns: 100%;
    grid-template-areas:
        "search"
        "menu"
        "playlists"
        "footer";
}

#search
{
    grid-area: search;
    margin: 0.8em;
    margin-bottom: 2em;
    margin-top: 1em;
    display: flex;
    height: 40px;
    padding-left: 0.5em;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
}

#search svg
{
    opacity: 0.6;
    height: 100%;
    vertical-align: middle;
}

#search input
{
    font-size: 16px;
    padding: 0.5em;
    margin-right: 0.5em;
    width: calc(100% - 1.2em);
    border: 0;
    background-color: inherit;
    outline: none;
}

#menu
{
    grid-area: menu;
}

#menu ul
{
    padding: 0;
}

#menu ul li
{
    list-style: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1.2em;
    padding-right: 0.8em;
    font-size: 16px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30px 1fr 30px;
}


#menu ul li span
{
    align-self: center;
}

#menu ul li svg
{
    opacity: 0.6;
    align-self: center;
}

.menu-count
{
    align-self: center;
    opacity: 0.4;
}

.pink
{
    fill: #E91E63;
}

.yellow
{
    fill: #EF6C00;
}

.blue
{
    fill: #039BE5;
}

.purple
{
    fill: #9C27B0;
}

.teal
{
    fill: #009688;
}

.selected
{
    background-color: #E0E0E0;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#playlists
{
    grid-area: playlists;
    display: grid;
    overflow: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
        "playlist-header"
        "playlist-items";
}

#playlists h3
{
    grid-area: playlist-header;
    margin: 0;
    padding: 0.5em;
    padding-left: 1.2em;
    border-top: 1px solid #CCC;
    color: #AAA;
    font-size: 14px;
    font-style: normal;
}

#playlists ul
{
    grid-area: playlist-items;
    list-style: none;
    margin: 0;
    padding: 0;
}

#playlists ul li
{
    /* padding: 0.5em; */
    padding-left: 0.6em;
}

#playlists ul li.over
{
    background: #039BE5;
    color: #FFF;
}

#playlists ul li.over input
{
   color: #FFF;
}

#playlists ul li input
{
    outline: none;
    background: inherit;
    border: none;
    font-size: 14px;
    line-height: 0.5em;
    padding: 0.5em;
    width: calc(100% - 3em);
}

#playlists ul li input:disabled
{
    user-select: none;
}

#playlists ul li input:enabled
{
    outline: 1px solid #039BE5;
    background: #FEFEFE;
    color: #000;
}

/* ------------------------------------------------------------------------------------------------------------------ */

footer
{
    grid-area: footer;
    border-top: 1px solid #CCC;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "icon input";
}

footer svg
{
    grid-area: icon;
    align-self: center;
    justify-self: center;
}

footer input
{
    grid-area: input;
    background: inherit;
    border: 0;
    outline: none;
    text-align: left;
    font-size: 16px;
}
