@import url('https://fonts.googleapis.com/css?family=Roboto');

::-webkit-scrollbar {
    width: .8em;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: .5rem;
}


::-webkit-scrollbar-thumb:hover {
    background-color: #bebebe;
}

:root {
    --primary-color: #2979FF;
    --episode-item-bg-color: #dedcdc50;
    --progress-bg-color: #dedcdc50;
    --progress-color: #b7b7b780;
}

.fs-7 {
    font-size: 0.75rem !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #F2F2F2;
    user-select: none;
    cursor: default;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}