/* ------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Player */
/* ------------------------------------------------------------------------------------------------------------------ */

#content-right-player {
    background-color: #FFF;
    border-top: 1px solid #CCC;
    text-align: center;
    height: 60px;
    display: grid;
    grid-template-rows: 0.2em 1fr;
    grid-template-columns: 20% 20% 20% 20% 20% 0 0 0;
    grid-template-areas:
        "progress progress progress progress progress progress progress progress"
        "image replay play forward speed time duration playback-title";
}

#content-right-player-title {
    grid-area: playback-title;
    align-self: flex-end;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #999;
}

#replay-30-sec {
    grid-area: replay;
    align-self: center;
    justify-self: center;
}

#play-pause {
    grid-area: play;
    align-self: center;
    justify-self: center;
}

#forward-30-sec {
    grid-area: forward;
    align-self: center;
    justify-self: center;
}

#content-right-player svg {
    width: 36px;
    height: 36px;
    opacity: 0.65;
}

#content-right-player svg:hover {
    opacity: 1;
}

#content-right-player-img {
    grid-area: image;
    align-self: center;
    /* justify-self: center; */
    margin-left: 2em;
    width: 42px;
    height: 42px;
    border-radius: 4px;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    position: absolute;
    color: #333;
    background: #FFF;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    opacity: 0;
    bottom: 100%;
    width: 100%;
    white-space: nowrap;
}

[data-tooltip]:hover:after {
    opacity: 0.95;
}

.content-right-player-speed-btn {
    display: flex;
    grid-area: speed;
    align-self: center;
    justify-self: center;
    outline: 0;
    font-size: 12px;
    height: 35px;
    width: 74px;
    border: 1px solid #EEE;
    border-radius: 4px;
    background-color: inherit;
}

button#content-right-player-speed-indicator {
    width: 3.3em;
    padding: 0;
}

.content-right-player-speed-btn button {
    color: #757575;
    transition: color .25s ease-in-out;
}

.content-right-player-speed-btn button,
.content-right-player-speed-btn:hover button,
.content-right-player-speed-btn:active button {
    outline: 0;
    border: 0;
    background-color: inherit;
}

.content-right-player-speed-btn:hover button,
.content-right-player-speed-btn:active button {
    color: #000;
}

.content-right-player-speed-btn:hover {
    border-color: #CCC;
}

.content-right-player-speed-btn:active {
    background-color: #EEE;
}

#content-right-player-time,
#content-right-player-duration {
    display: none;
}

#content-right-player-progress-bar {
    grid-area: progress;
    align-self: baseline;
    background-color: #CCC;
    height: 0.5em;
    border-radius: 2px;
    margin-top: 0.3em;
}

/* #content-right-player-progress-bar:hover #content-right-player-progress-bar-progress, #content-right-player-progress-bar:hover
{
    height: 10px;
} */


#slider-container {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    bottom: 3px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    --theme-slider: #d3d3d3;
    background: linear-gradient(to right, #448AFF 0%, #448AFF 0%, var(--theme-slider) 0%, var(--theme-slider) 100%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #448AFF;
    /*#039BE5*/
    cursor: pointer;

    transition: width .2s, height .2s;
}

.slider:hover::-webkit-slider-thumb {
    width: 12px;
    height: 12px;

    transition: width .2s, height .2s;
}


@media screen and (max-width: 899px) {
    .slider {
        display: none;
    }
}


#content-right-player-progress-bar-progress {
    /* background-color: #039BE5; */
    /* background-color: #2979FF; */
    background-color: #448AFF;
    height: 0.5em;
    border-radius: 2px;
    width: 0%;
}

#volume-button {
    grid-area: volume-button;
    margin: auto;
    margin-right: 0.5em;
}

input[id=volume] {
    grid-area: volume;
    height: 0px;
    -webkit-appearance: none;
    margin: auto 0;
    width: 100%;
}

input[id=volume]:focus {
    outline: none;
}

input[id=volume]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5em;
    cursor: pointer;
    background: #d3d3d3;
    border-radius: 5px;
}

#volume-fill {
    grid-area: volume;
    width: 50%;
    margin: auto 0;
    height: 0.5em;
    background: #448AFF;
    border-radius: 5px;
}

input[id=volume]:hover+#volume-fill {
    grid-area: volume;
    width: 50%;
    margin: auto 0;
    height: 0.5em;
    background: #448AFF;
}

input[id=volume]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #448AFF;
    cursor: pointer;
}

input[id=volume]:hover::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    margin-top: -0.1em;
    transition: width .2s, height .2s;
}

@media screen and (min-width: 900px) {
    #content-right-player {
        background-color: #FFF;
        text-align: center;
        height: 58px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 100px 50px 50px 50px 70px 1fr 70px 50px 100px 100px;
        grid-template-areas:
            "image replay play forward playback-title playback-title playback-title volume-button volume speed"
            "image replay play forward time progress duration volume-button volume speed";
    }

    /* #content-right-player
    {
        background-color: #FFF;
        text-align: center;
        height: 58px;
        display: grid;
        grid-template-rows: 0.2em 1fr;
        grid-template-columns: 100px 2fr 100px 100px 50px 100px 100px 2fr;
        grid-template-areas:
            "progress progress progress progress progress progress progress progress"
            "image playback-title time replay play forward duration speed";
    } */

    #content-right-player-time,
    #content-right-player-duration {
        align-self: center;
        justify-self: center;
        align-self: center;
        opacity: 0.5;
        font-size: 14px;
        margin-left: 0.1em;
        display: block;
    }

    #content-right-player-time {
        grid-area: time;
        align-self: baseline;
        justify-self: right;
        font-size: 12px;
        padding: 0.2em;
        padding-right: 0.5em;
    }

    #content-right-player-duration {
        grid-area: duration;
        align-self: baseline;
        justify-self: left;
        font-size: 12px;
        padding: 0.2em;
        padding-left: 0.5em;
    }
}