/* ------------------------------------------------------------------------------------------------------------------ */
/* NOTE: Player */
/* ------------------------------------------------------------------------------------------------------------------ */

#content-right-player
{
    background-color: #FFF;
    text-align: center;
    height: 58px;
    display: grid;
    grid-template-rows: 0.2em 1fr;
    grid-template-columns: 20% 20% 20% 20% 20% 0 0 0;
    grid-template-areas:
        "progress progress progress progress progress progress progress progress"
        "image replay play forward speed time duration playback-title";
}

#content-right-player-title
{
    grid-area: playback-title;
    align-self: center;
    text-align: left;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #999;
}

#replay-30-sec
{
    grid-area: replay;
    align-self: center;
    justify-self: center;
}

#play-pause
{
    grid-area: play;
    align-self: center;
    justify-self: center;
}

#forward-30-sec
{
    grid-area: forward;
    align-self: center;
    justify-self: center;
}

#content-right-player svg
{
    width: 36px;
    height: 36px;
    opacity: 0.65;
}

#content-right-player svg:hover
{
    opacity: 1;
}

#content-right-player-img
{
    grid-area: image;
    align-self: center;
    justify-self: left;
    margin-left: 2em;
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

[data-tooltip]
{
	position: relative;
}

[data-tooltip]:after
{
	content: attr(data-tooltip);
    position: absolute;
	color: #333;
	background: #FFF;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
    opacity: 0;
	bottom: 100%;
    width: 100%;
	white-space: nowrap;
}

[data-tooltip]:hover:after
{
	opacity: 0.95;
}

#content-right-player-speed
{
    grid-area: speed;
    align-self: center;
    justify-self: right;
    margin-right: 2em;
    outline: 0;
    font-size: 12px;
    height: 35px;
    width: 70px;
    border: 1px solid #EEE;
    border-radius: 4px;
    background-color: inherit;
}

#content-right-player-speed:hover
{
    border-color: #CCC;
}

#content-right-player-speed:active
{
    background-color: #EEE;
}

#content-right-player-time, #content-right-player-duration
{
    display: none;
}

#content-right-player-progress-bar
{
    grid-area: progress;
    background-color: #CCC;
}

/* #content-right-player-progress-bar:hover #content-right-player-progress-bar-progress, #content-right-player-progress-bar:hover
{
    height: 10px;
} */

#content-right-player-progress-bar-progress
{
    /* background-color: #039BE5; */
    /* background-color: #2979FF; */
    background-color: #448AFF;
    height: 3px;
    width: 0%;
}

@media screen and (min-width: 900px)
{
    #content-right-player
    {
        background-color: #FFF;
        text-align: center;
        height: 58px;
        display: grid;
        grid-template-rows: 0.2em 1fr;
        grid-template-columns: 100px 2fr 100px 100px 50px 100px 100px 2fr;
        grid-template-areas:
            "progress progress progress progress progress progress progress progress"
            "image playback-title time replay play forward duration speed";
    }

    #content-right-player-time, #content-right-player-duration
    {
        align-self: center;
        justify-self: center;
        align-self: center;
        opacity: 0.5;
        font-size: 14px;
        margin-left: 0.1em;
        display: block;
    }

    #content-right-player-time
    {
        grid-area: time;
    }

    #content-right-player-duration
    {
        grid-area: duration;
    }
}
