
#content-left
{
    height: 100%;
    width: 300px;
    display: grid;
    position: fixed;
    overflow: auto;
    grid-template-rows: 70px 1fr 3fr 50px;
    grid-template-columns: 100%;
    grid-template-areas:
        "search"
        "menu"
        "playlists"
        "footer";
}

#search
{
    grid-area: search;
    margin: 0.8em;
    margin-bottom: 2em;
    margin-top: 1em;
    display: flex;
    height: 40px;
    padding-left: 0.5em;
    background: #EAEAEA;
    border-radius: 6px;
}

#search svg
{
    opacity: 0.6;
    height: 100%;
    vertical-align: middle;
}

#search input
{
    font-size: 16px;
    padding: 0.5em;
    margin-right: 0.5em;
    width: calc(100% - 1.2em);
    border: 0;
    background-color: inherit;
    outline: none;
}

#menu
{
    grid-area: menu;
}

#menu ul
{
    margin: 0.8em;
    padding: 0;
}

#menu ul li
{
    list-style: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    font-size: 16px;
    border-radius: 6px;
    /*border-left: 3px solid #333;*/
}

#menu ul li svg
{
    opacity: 0.6;
    vertical-align: middle;
    margin-right: 0.5em;
}

.pink
{
    fill: #E91E63;
}

.yellow
{
    fill: #EF6C00;
}

.blue
{
    fill: #039BE5;
}

#menu ul li:hover
{
    background-color: #E0E0E0;
    /*border-left: 3px solid #039BE5;*/
    cursor: pointer;
}

.selected
{
    background-color: #E0E0E0;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#playlists
{
    grid-area: playlists;
    margin: 0.8em;
    overflow: auto;
}

#playlists h3
{
    margin: 0;
    padding: 0.5em;
    border-top: 1px solid #CCC;
    color: #AAA;
    font-size: 14px;
    font-style: normal;
}

#playlists ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#playlists ul li
{
    padding: 0.5em;
}

#playlists ul li:hover
{
    background: #e0e0e0;
    border-radius: 6px;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------ */

footer
{
    grid-area: footer;
    border-top: 1px solid #CCC;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "icon button";
}

footer svg
{
    grid-area: icon;
    align-self: center;
    justify-self: center;
}

footer button
{
    grid-area: button;
    background: inherit;
    border: 0;
    outline: none;
    text-align: left;
    font-size: 16px;
}

footer button:hover
{
    cursor: pointer;
}
