h1
{
    margin: 0;
    padding: 0.5em;
    display: inline-block;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#content-right
{
    position: fixed;
    left: 300px;
    right: 1.5em;
    overflow: auto;
    height: 100%;
}

#content-right-body
{
    background-color: #FFF;
    right: 1em;
    border: 1px solid #EEE;
    border-radius: 4px;
    height: calc(100% - 4.5em);
    overflow: auto;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* PLAYER */
/* ------------------------------------------------------------------------------------------------------------------ */

#content-right-player
{
    border-radius: 4px;
    background-color: #FFF;
    border: 1px solid #EEE;
    text-align: center;
    float: right;
    margin-top: 0.5em;
    display: grid;
    grid-template-rows: 1fr 0.2em;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
        "image replay play forward speed"
        "progress progress progress progress progress";
}

#replay-30-sec
{
    grid-area: replay;
}

#play-pause
{
    grid-area: play;
}

#forward-30-sec
{
    grid-area: forward;
}

#content-right-player svg
{
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.7;
    margin: 0.5em;
}

#content-right-player svg:hover
{
    opacity: 1;
}

#content-right-player-img
{
    grid-area: image;
    width: 30px;
    height: 30px;
    margin: 0.5em;
    border-radius: 4px;
}

#content-right-player-speed
{
    grid-area: speed;
    outline: 0;
    border: 1px solid #EEE;
    border-radius: 4px;
    margin: 0.5em;
    background-color: inherit;
}

#content-right-player-speed:hover
{
    background-color: #EEE;
    cursor: pointer;
}


#content-right-player-progress-bar
{
    grid-area: progress;
    background-color: #E5E5E5;
    border-radius: 4px;
}

#content-right-player-progress-bar-progress
{
    background-color: #039BE5;
    height: 3px;
    width: 0%;
    border-radius: 4px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* PODCAST ENTRY LIST */
/* ------------------------------------------------------------------------------------------------------------------ */

#list
{
    margin: 0;
    padding: 0;
}

.podcast-entry
{
    background-color: inherit;
    border-bottom: 1px solid #DDD;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 75px 1fr 3em;
    grid-template-areas:
        "image title icons"
        "image subtitle icons";
}

.podcast-entry:hover
{
    background-color: #E0E0E0;
    cursor: pointer;
}

.podcast-entry svg
{
    grid-area: icons;
    align-self: center;
    margin-left: 0.5em;
    opacity: 0.6;
}

.podcast-entry svg:hover, .set-favorite
{
    fill: #E91E63;
    opacity: 0.7;
}

.podcast-entry img
{
    grid-area: image;
    border-radius: 4px;
    margin: 0.5em;
    width: 60px;
    height: 60px;
}

.podcast-entry-title
{
    grid-area: title;
    align-self: flex-end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.podcast-entry-subtitle
{
    grid-area: subtitle;
    align-self: flex-start;
    font-size: 14px;
    color: #777;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.delete-icon
{
    /*fill: #F44336;*/
    /*opacity: 0.3;*/
}

/* ------------------------------------------------------------------------------------------------------------------ */

.settings
{
    background: #333;
    color: #FFF;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "name items button"
        "playlists playlists playlists"
}

.settings-header
{
    grid-area: name;
    padding: 0.5em;
}

.settings-count::before
{
    content: "# ";
    color: #039BE5
}

.settings-count
{
    grid-area: items;
    color: #FFF;
    padding: 0.5em;
}

.settings-unsubscribe
{
    grid-area: button;
    background: #555;
    border-radius: 6px;
    text-align: center;
    padding: 0.2em;
    padding-top: 0.3em;
    opacity: 0.7;
}

.settings-unsubscribe svg
{
    fill: #FFF;
}

.settings-unsubscribe:hover
{
    opacity: 1;
    cursor: pointer;
}
