
#content-left
{
    height: 100%;
    width: 300px;
    display: inline-block;
    position: fixed;
    overflow: auto;
}

#search
{
    margin-bottom: 2em;
    margin-top: 1em;
    display: flex;
    height: 40px;
    padding-left: 0.5em;
    /*border: 1px solid blue;*/
}

#search svg
{
    opacity: 0.6;
    height: 100%;
    vertical-align: middle;
    /*border: 1px solid red;*/
}

#search input:focus
{
    /*border-bottom: 1px solid silver*/
}

#search input
{
    font-size: 16px;
    padding: 0.5em;
    width: calc(100% - 1.2em);
    border: 0;
    background-color: inherit;
    outline: none;
    /*border: 1px dotted silver;*/
}

#menu
{

}

#menu ul
{
    margin: 0;
    padding: 0;
}

#menu ul li
{
    list-style: none;
    padding-bottom: 0.8em;
    padding-top: 0.8em;
    padding-left: 0.5em;
    font-size: 16px;
    /*border-left: 3px solid #333;*/
}

#menu ul li:hover
{
    background-color: #E1F5FE;
    /*border-left: 3px solid #039BE5;*/
    cursor: pointer;
}

.selected
{
    background-color: #E1F5FE;
    border-left: 3px solid #039BE5;
}
