h1
{
    /*background-color: #EEE;*/
    margin: 0;
    padding: 0.5em;
    display: inline-block;
    /*border: 1px solid red;*/
    /*float: left;*/
}

/* ------------------------------------------------------------------------------------------------------------------ */

#content-right
{
    position: fixed;
    left: 300px;
    right: 1.5em;
    overflow: auto;
    height: 100%;
}

#content-right-body
{
    background-color: #FFF;
    padding: 0.5em;
    right: 1em;
    border: 1px solid #EEE;
    border-radius: 4px;
    height: calc(100% - 5.5em);
    overflow: auto;
}

#content-right-header
{
    /*border: 1px solid green;*/
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* PLAYER */
/* ------------------------------------------------------------------------------------------------------------------ */

/* NOTE: dummy player for test */
#player
{
    float: right;
    border: 1px solid #EEE;
    border-radius: 4px;
    margin-top: 1em;
}

#content-right-player
{
    border-radius: 4px;
    background-color: #FFF;
    border: 1px solid #EEE;
    text-align: center;
    display: inline-block;
    float: right;
    padding: 0.5em;
    margin-top: 0.5em;
}

#content-right-player svg
{
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.7;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#content-right-player svg:hover
{
    opacity: 1;
}


#content-right-player-img
{
    width: 30px;
    height: 30px;
    /*opacity: 0.7;*/
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 4px;
}

#content-right-player-progress-bar
{
    background-color: #E5E5E5;
    height: 3px;
    border-radius: 4px;
    margin-top: 0.5em;
    margin-bottom: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
}

#content-right-player-progress-bar-progress
{
    background-color: #039BE5;
    height: 3px;
    width: 25%;
    border-radius: 4px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

#list
{
    margin: 0;
    padding: 0;
}

.podcast-entry
{
    list-style: none;
    /*padding: 0.5em;*/
    border-radius: 4px;
    background-color: #EEE;
    margin: 0.6em;
    display: block;
    /*overflow: auto;*/
    height: 3.8em;
    /*display: inline-block;*/
}

.podcast-entry:hover
{
    background-color: #E2E2E2;
    cursor: pointer;
}

.podcast-entry svg
{
    float: right;
    opacity: 0.6;
    height: 100%;
    vertical-align: middle;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.podcast-entry svg:hover, .set-favorite
{
    fill: #E91E63;
    opacity: 0.7;
}

.podcast-entry img
{
    border-radius: 4px;
    float: left;
    margin-right: 0.5em;
}

.podcast-entry-body
{
    vertical-align: middle;
    /*display: block;*/
    overflow: auto;
    height: 100%;
}

.podcast-entry-collection
{
    margin-top: 0.7em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.podcast-entry-artist
{
    font-size: 14px;
    color: #777;
    /*float: left;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
