h1
{
    /*background-color: #EEE;*/
    margin: 0;
    padding: 0.5em;
}

#content-right
{
    position: fixed;
    left: 200px;
    right: 1.5em;
    overflow: auto;
    height: 100%;
}

#content-right-body
{
    background-color: #FFF;
    padding: 0.5em;
    right: 1em;
    border: 1px solid #EEE;
    border-radius: 4px;
    height: 100%;
}

#list
{
    margin: 0;
    padding: 0;
}

#list li
{
    list-style: none;
    padding: 0.5em;
    border-radius: 4px;
    background-color: #EEE;
    margin: 0.3em;
    display: inline-grid;
}

#list li:hover
{
    background-color: #E2E2E2;
    cursor: pointer;
}
