
#content-left
{
    height: 100%;
    width: 200px;
    display: inline-block;
    position: fixed;
    overflow: auto;
}

#search
{
    margin-bottom: 2em;
    margin-top: 1em;
}

#search input
{
    font-size: 16px;
    padding: 0.5em;
    width: calc(100% - 1.2em);
    border: 0;
    background-color: inherit;
    outline: none;
}

#menu
{

}

#menu ul
{
    margin: 0;
    padding: 0;
}

#menu ul li
{
    list-style: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 0.5em;
}

#menu ul li:hover
{
    background-color: #E1F5FE;
    cursor: pointer;
}

.selected
{
    background-color: #E1F5FE;
    border-left: 3px solid #039BE5;
}
